.swiper-pagination-bullet {
  background-color: gray;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 1.2rem;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1.2rem;
}

